.header-content{
    padding-top: 500px;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0.0,0,0.7)),url('../../images/header-image.png');
    background-position: center;
    background-size: cover;
    height: '100vh';
   
   
}
.header-content h1{
    font-size: 30px;
    line-height: 70px;
    font-weight: 600;
    position: absolute;
    top: 50%;
  width: 100%;
  text-align: center;
  color: white;

    
}
.header-content h3{
    font-size: 20px;
    line-height: 50px;
    position: absolute;
    top: 60%;
  width: 100%;
  text-align: center;
  color: white;

    
}
.header-content button
{
    position: absolute;
    top: 70%;
    left: 45%;
}
/* .header-content h1{
    font-weight: 400px;
    margin-top: 20px;
} */
.email-signup{
    top: 80%;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px ;
   
    
}
.email-signup input{
   flex: 1;
   border: 0;
   outline: 0;
   margin-left :20px; 
}
.email-signup button
{
    background: red;
    border: 0;
    outline: 0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;

}